apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: adarshareddy69/frontend:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80          # nginx serves on 80
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "300m"
            memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  ports:
  - port: 3000                   # external port used by clients (optional)
    targetPort: 80               # forwards to container's port 80 (nginx)
    nodePort: 30000
  type: NodePort
